server:
  http_listen_port: 9080
  grpc_listen_port: 0  # Mở cổng gRPC

clients:
  - url: http://loki:3100/loki/api/v1/push

positions:
  filename: /var/log/positions.yaml

scrape_configs:
  - job_name: application
    static_configs:
      - targets:
          - localhost
        labels:
          job: app-logs
          __path__: /path/to/your/application/logs/*.log # đường dẫn tới file logs
